@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color:var(--Pale-blue);    
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
}
h1{
    color: var(--Dark-blue);
    text-align: center;
    line-height: 7.8rem;
    height: 7.8rem;
    font-size: 2.0rem;
    font-weight: 900;    
}
.content {
    background-image: url('../images/pattern-background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;   
    flex-direction: column;             
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 98vh;    
}
.order{        
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;    
    font-size: 1.4rem;
    height: 535px;
    max-width: 330px;
    margin: auto;
}
.order__image img{
    width: 100%;
    height: 150px;
    border-radius: 1rem 1rem 0 0;
}
.order__information{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}
.order__description{
    text-align: center;
    color: var(--Desaturated-blue);
    /* color: var(--Pale-blue); */
    padding-bottom: 3rem;
    font-weight: bold;
    margin: auto;
    width: 80%;
}
.order__description p{
    width: 95%;
    margin: auto;
}
.order__plan{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
    
}
.order__plan span{
    color: var(--Desaturated-blue);
    font-weight: 900;   
    font-size: 1.3rem; 
    display: block;
}
.order__summary{
    background-color: var(--Very-pale-blue);
    width: 80%;    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin: auto;
    display: flex;
    height: 78px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.9rem;
}
.order__plan-change a{
    color: var(--Bright-blue);
    font-weight: 900;
    text-decoration: none;
}
.order__actions{
    width: 80%;
    margin: auto;
    margin-top: 2.3rem;
}
.order__button{
    margin-bottom: 2.2rem;
    background-color: var(--Bright-blue);
    color: #fff;
    text-align: center;
    height: 4.6rem;
    font-weight: 900;
    line-height: 4.8rem;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 250ms ease;
}
.order__button:hover{
    transform: translate(-1px , -1px);
}
.order__button:active{
    transform: translate(1px , 1px);
    background-color: rgb(118, 108, 241);
}
.order__cancel{
    text-align: center;
}
.order__cancel a{
    margin-bottom: 2.5rem;
    text-align: center;
    color: var(--Desaturated-blue);
    font-weight: 800;
    text-decoration: none;
}
.order__cancel a:hover{
    color: var(--Dark-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.shadow {
    box-shadow: 1px 15px 8px 2px rgba(0,0,0,0.11);
    -webkit-box-shadow: 1px 15px 8px 2px rgba(0,0,0,0.11);
    -moz-box-shadow: 1px 15px 8px 2px rgba(0,0,0,0.11);
}

@media only screen and (min-width:1140px){
    .content {
        background-image: url('../images/pattern-background-desktop.svg');
    }   
}